/* Sidebar Container */
.sidebar {
  width: 300px;
  height: 100vh;
  border-right: 2px solid var(--foreground);
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
}

/* Sidebar Header */
.sidebar_header {
  padding-bottom: var(--padding-md);
  border-bottom: 2px solid var(--foreground);
}

.sidebar_header h1 {
  font-size: var(--fs-lg);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: var(--foreground);
  margin: 0;
}
