@import "tailwindcss";

/* :root { */
/*   --background: #000000; */
/*   --foreground: #faf9f5; */
/**/
/*   --primary: #f865b0; */
/*   --on-primary: #000000; */
/**/
/*   --secondary: #d1f94d; */
/*   --on-secondary: #000000; */
/**/
/*   --surface: #e2eeee; */
/*   --on-surface: #1a1a1a; */
/* } */

:root {
  --background: #ede4d1;
  --foreground: #282b2e;

  --primary: #282b2e;
  --on-primary: #ede4d1;

  --secondary: #cfde67;
  --on-secondary: #282b2e;

  --tertiary: #c889bb;
  --on-tertiary: #f0ece7;

  --surface: #f0ece7;
  --on-surface: #282b2e;

  --error: #d81e5b;
  --on-error: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);

  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);

  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);

  --color-error: var(--error);
  --color-on-error: var(--on-error);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 16px;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  scrollbar-color: var(--foreground) var(--background);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
